<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <header>
        <!-- Abschnitt "Header" ohne Inhalt -->
    </header>

    <section id="product">
        <!-- Abschnitt "Product" ohne Inhalt -->
    </section>

    <section id="purchase-form">
        <!-- Abschnitt "Purchase form" ohne Inhalt -->
    </section>

    <section id="purchase-receipt">
        <!-- Abschnitt "Receipt" ohne Inhalt -->
    </section>

    <script>
        // Abschnitt Script ohne Inhalt
    </script>
</body>
</html>
